h1 {
  font-size: 2.3rem;
  color: hsl(180, 100%, 36%);
}
#block-inline h3, #block-inline div {
  /* display: block; */
  display: inline;
}

#block-inline-2 form label, #block-inline-2 form input {
  /* display: inline; */
  display: block;
}

#text-align h3, #text-align p {
  /* text-align: center; */
  text-align: justify;
}

#element-align {
  border: 4px solid red;
  padding: 2rem;
}
.parent .child-image {
  width: 60%;
  display: block;
  margin: auto;
}

#left-right-align {
  border: 4px solid blue;
  padding: 2rem;
  margin-top: 1rem;
  text-align: justify;
}
.parent .child {
  float: right;
  width: 40%;
  margin: 0.5rem 0 0.5rem 1rem;
}