* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
}
.sec {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
}
.inactive {
  display: none;
}
.title {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #006666;
}
